.btn{
    padding:10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color:#fff;
    font-family: "Microsoft Yahei";
    background-color:lightskyblue;
    display: block;
    margin:10px;
}

hr{
    height:10px;
    background-color:lightskyblue;
    border:none;
    border-radius: 5px;
}
