$width:200px;

input{
    width:$width;
    height:32px;
    border:1px solid #666;
    border-radius: 4px;
    padding-left:10px;
    font-family: "微软雅黑";
    display: block;
    margin:10px;
    &:focus{
        border:1px solid lightskyblue;
    }
    &.big{
        width:300px;
    }
    &.middle{
        width:250px;
    }
    &.red{
        border:1px solid red;
    }
    &.orange{
        border:1px solid orange;
    }
    &.pink{
        border:1px solid pink;
    }
}
